<div class="container">
    <div class="row">
        {{#if websites}}
        {{#each websites}}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{this.name}}</h2>
                    <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="/{{this.domain}}/home">Go to home</a>
                    <a class="btn btn-warning btn-sm" href="/{{this.domain}}/edit" role="button">Edit</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Welcome to News Website Creator!</h1>
                <p>This website was made for course project purposes by Nikolay Nikolaev. Make an account and create
                    your own
                    news website and start posting articles!</p>
                <div class="row">
                    <div class="col text-center">
                        {{#if currentUser}}
                        <p><a class="btn btn-primary btn-lg" href={{routes.WEBSITE_CREATE}} role="button">Create
                                Website »</a></p>
                        {{else}}
                        <p><a class="btn btn-primary btn-lg" href={{routes.LOGIN}} role="button">Sign up »</a></p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <hr>

    </div>
</div>