{{!-- <form action={{routes.WEBSITE_CREATE}} method="post">
    <label for="name">Name: </label>
    <br>
    <input type="text" name="name" id="name" value={{model.name}}>
    <br>
    <label for="domain">Domain: </label>
    <br>
    <input type="text" name="domain" id="domain" value={{model.domain}}>
    <br>
    <input type="submit" value="Create Website" />
</form> --}}

<div class="text-center">
    <form action={{routes.WEBSITE_CREATE}} method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Create Website</h1>
        <div class="form-group">
            <label for="name" class="sr-only">Title</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="" autofocus=""
                value={{model.title}}>
        </div>
        <div class="form-group">
            <label for="domain" class="sr-only">Domain</label>
            <input type="text" name="domain" id="domain" class="form-control" placeholder="Domain" required="">
        </div>
        <div class="form-group">
            <label for="description" class="sr-only">Description</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Description"
                required="">
        </div>
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>