<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    {{#if website.articles}}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">{{website.articles.0.title}}</h1>
            <p>{{website.articles.0.shortText}}</p>
            <a class="btn btn-secondary" href="/{{domain}}/article/{{website.articles.0.id}}">More Details!</a>
        </div>
    </div>
    {{/if}}
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <h3 class="bg-dark">Website Publisher: Contact -
            <a href="mailto: {{website.publisher}}">{{website.publisher}}</a>
        </h3>
        <div class="card-body">
            <p class="text-white m-0">{{website.description}}</p>
        </div>
    </div>

    <!-- Content Row-->
    {{#if website.articles}}
    <div class="row gx-4 gx-lg-5">
        {{#each website.articles}}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{this.title}}</h2>
                    <p class="card-text">{{this.shortText}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="/{{@root.domain}}/article/{{this.id}}">More Info</a>
                    {{#if ../isPublisher}}
                    <a class="btn btn-warning btn-sm" href="/{{@root.domain}}/article/edit/{{this.id}}">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-title="{{this.title}}" data-toggle="modal"
                        data-target="#deleteModal">
                        Delete
                    </button>
                    <form action="/{{@root.domain}}/article/delete/{{this.id}}" id="delete-article" method="post">
                    </form>
                    {{/if}}
                    <p class="card-text float-right">{{this.publicationDate}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h1 class="offset-2">There are not articles in this website yet!</h1>
    {{/if}}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want do delete this article? You can not unchange that after you confirm!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" method="POST"
                    href="javascript:document.getElementById('delete-article').submit()">Confrim</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let title = button.data('title') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this)
        modal.find('.modal-title').text('Delete Article - ' + title)
        modal.find('.modal-body input').val(title)
    })
</script>