<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    {{#if website.articles}}
    <div class="card float-right pb-3">
        <div class="card-header text-center">
            <h1>Latest Article</h1>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img class="d-block w-100" src="../../../images/{{website.articles.0.imageName}}"
                    alt="{{website.articles.0.title}}">
            </div>
            <div class="col-sm-7">
                <div class="card-block">
                    <h4 class="card-title">{{website.articles.0.title}}</h4>
                    <p>{{website.articles.0.shortText}}</p>
                    <br>

                    <a href="/{{domain}}/article/{{website.articles.0.id}}"
                        class="btn btn-outline-secondary btn-sm">Read More</a>
                </div>
            </div>

        </div>
    </div>
    {{/if}}
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 pt-4 text-center">
        <h2 class="card-title">Welcome to {{website.name}}</h2>
        <div class="card-body">
            <p class="text-white m-0">{{website.description}}</p>
        </div>
        <h5 class="bg-dark card-footer mb-0">Website Publisher: Contact -
            <a href="mailto: {{website.publisher}}">{{website.publisher}}</a>
        </h5>
    </div>

    <!-- Content Row-->
    {{#if website.articles}}
    <h3 class="text-center">All Articles</h3>
    <div class="row gx-4 gx-lg-5">
        {{#each website.articles}}
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card">
                <img src="../../../images/{{this.imageName}}" alt="{{this.title}}" class=" card-img-top">
                <div class="card-body d-flex align-content-around flex-wrap">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.shortText}}</p>
                    <a href="/{{@root.domain}}/article/{{this.id}}" class="btn btn-outline-secondary btn-sm">Read
                        More</a>
                    {{#if ../isPublisher}}

                    <a href="/{{@root.domain}}/article/edit/{{this.id}}" class="btn btn-outline-warning btn-sm mx-2">Edit</a>
                    <a href="/{{@root.domain}}/article/edit/{{this.id}}" class="btn btn-outline-danger btn-sm"
                        data-title="{{this.title}}" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    <form action="/{{@root.domain}}/article/delete/{{this.id}}" id="delete-article" method="post">
                    </form>
                    {{/if}}

                    <p class="card-text ml-auto">{{this.publicationDate}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h1 class="offset-2">There are not articles in this website yet!</h1>
    {{/if}}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want do delete this article? You can not unchange that after you confirm!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" method="POST"
                    href="javascript:document.getElementById('delete-article').submit()">Confrim</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let title = button.data('title') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this)
        modal.find('.modal-title').text('Delete Article - ' + title)
        modal.find('.modal-body input').val(title)
    })
</script>