<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Webserver</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <ul>
        {{#if currentUser}}
        <li>{{currentUser.email}}</li>
        <li>
            <form action={{routes.LOGOUT}} id="logout-form" method="post"></form>
            <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </li>
        <li>
            <a href={{routes.WEBSITE_CREATE}}>Create Website</a>
        </li>
        {{else}}
        <li><a href={{routes.REGISTER}}>Register</a></li>
        <li><a href={{routes.LOGIN}}>Login</a></li>
        {{/if}}
        {{#if globalError}}
        <h1>{{globalError}}</h1>
        {{/if}}
    </ul>
    {{{body}}}
</body>

</html>