<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="Free News Website Creation">
    <meta name="keywords" content="News Website, News, Articles, Publishers,">
    <meta name="author" content="Nikolay Nikolaev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website Creator</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href={{routes.HOME_INDEX}}>
            <img src="../../../images/logo.png" alt="" width="24" height="24">
            NewsWebsiteCreator
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{routes.HOME_INDEX}}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{routes.HOME_ABOUT}}>About <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                {{#if currentUser}}
                {{#admin}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{routes.ADMIN_INDEX}}">Panel</a>
                        {{#if ../domain}}
                        {{#if ../websiteRestriction}}
                        <form action="/admin/{{../domain}}/unsuspend" id="website-unsuspend-form" method="post"></form>
                        <a class="dropdown-item"
                            href="javascript:document.getElementById('website-unsuspend-form').submit()">Unsuspend
                            {{../domain}}</a>
                        {{else}}
                        <form action="/admin/{{../domain}}/suspend" id="website-suspend-form" method="post"></form>
                        <a class="dropdown-item"
                            href="javascript:document.getElementById('website-suspend-form').submit()">Suspend
                            {{../domain}}</a>
                        {{/if}}
                        {{/if}}
                    </div>
                </li>
                {{/admin}}

                {{#if isPublisher}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{domain}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/{{domain}}/home">Home Page</a>
                        <a class="dropdown-item" href="/{{domain}}/article/create">Create Article</a>
                        <a class="dropdown-item" href="/{{domain}}/edit">Edit Website</a>
                    </div>
                </li>
                {{/if}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello,
                        {{currentUser.email}}!</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/{{currentUser._id}}/websites">My Websites</a>
                        <a class="dropdown-item" href={{routes.WEBSITE_CREATE}}>Create a Website</a>
                        <form action={{routes.LOGOUT}} id="logout-form" method="post"></form>
                        <a class="dropdown-item"
                            href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{routes.LOGIN}}>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{routes.REGISTER}}>Register</a>
                </li>
                {{/if}}
            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
        </div>
    </nav>

    <br>
    {{!-- TODO: FIX --}}
    <br>

    {{#if globalError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{globalError}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    {{{body}}}
    <footer class="bg-light mt-auto text-center text-white">
        <div class="text-center pb-1 bg-dark">
            <p>
                TU Varna 2022 - Course Project by Nikolay Nikolaev. This is an open source project.
                <a href={{routes.HOME_ABOUT}}>More info</a>
            </p>
        </div>
    </footer>

</body>


</html>