<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to News Website Creator!</h1>
        <p>This website was made for course project purposes by Nikolay Nikolaev. Make an account and create your own
            news website and start posting articles!</p>
        <div class="row">
            <div class="col text-center">
                {{#if currentUser}}
                <p><a class="btn btn-primary btn-lg" href={{routes.WEBSITE_CREATE}} role="button">Create
                        Website »</a></p>
                {{else}}
                <p><a class="btn btn-primary btn-lg" href={{routes.LOGIN}} role="button">Sign up »</a></p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {{#each websites}}
        <div class="col-lg-4 mb-4 d-flex align-items-stretch ">
            <div class="card">
                <div class="card-body d-flex align-content-around flex-wrap">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/{{this.domain}}/home" class="btn btn-outline-secondary btn-sm ">Read More</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <hr>
</div>